h1,h2,h3,h4,h5,h6 {
	/*font-weight: normal;*/
	font-weight: 300;
}

.dg-profile {
	width: 50rem;
	height: 12rem;
}

#dg-cabecera  p {
	width: 95%;
}

.progress {
	height: 0.6rem;
}

#dg-experence .card  h4, h5 {
	font-weight: 350;
}

/*#dg-experence .card  ul li {
	border-bottom: 1px solid red;
}*/